<%- include('../partials/header'); -%>

<div class="box-new-edit">
    <div class="box-heading">
        Edit <%= campground.name %> 
    </div>
    <div class="align-vertical">
        <form action="/blogs/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <!-- <input class="place-holder" type="text" name="campground[name]" value="<%= campground.name %>"> -->
            <label class="label-all" for="image">Image</label>
            <input class="place-holder" type="file" id="image" name="image" accept="image/*" >
            <label class="label-all" for="image">Short Description</label>
            <textarea maxlength="120" class="place-holder" name="description" ><%= campground.description %></textarea>
            
            <label class="label-all" for="content">Blog Content</label>
            <textarea class="widgEditor" name="content"><%= campground.content %></textarea>
            <button  class="box-button">Submit</button>
        </form>
    </div>
    <a class="back-button" href="/blogs">Go Back</a>

</div>

