<%- include('../partials/header'); -%>


<header class="heading-div">
        <p class="heading-text">
        Welcome to Freedom Blogging
        </p> 
        <p class="subheading-text">Collection of our favourite blogs</p>
        <p>
            <a class="add-campgrounds-button" href="/blogs/new">Write New Blogs</a>
        </p>
</header>
 
    
<div class="cover-card">
    <div class="card-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class="single-card">
                <div class="card" style="background-image:url('<%= campground.image %>')">
                
                </div>
                <div class="text-content">
                    <p class="campground-name">
                        <%= campground.name %>
                    </p>
                    <a class="more-info-button" href="/blogs/<%= campground._id%>" class="btn btn-primary">Read More</a>
                </div>
            </div>
        <% }); %> 
    </div>
    <div class="bottom-margin"></div>
</div>
        
 



<%- include('../partials/footer'); -%>