<%- include('../partials/header'); -%>

<main class="show-main">
    <div>
    <div class="section-heading"> 
        <%= campground.name %>
    </div>
    <section class="post-section">
        
        <div class="image-section"  >
            <div class="post-image" style="background-image:url('<%= campground.image %>')">
                <% if(currentUser){ %>
                    <form  action="/users/saved/<%= campground._id %>/<%= currentUser._id %>" method="POST">
                        <button class="remove-button-default-margin" type="submit"> <i class="fas fa-thumbtack white-circle-pin"></i></button>
                    </form> 
                    <% } else { %>

                        <a  class="remove-button-default-margin" href="/login"><i class="fas fa-thumbtack white-circle-pin"></i></a>
                        <% }  %>
            </div>
            
        </div>
        
        <div class="user-info">
            Submitted By <a href="/users/<%= campground.author.id %>"><strong><%= campground.author.username %></strong></a> <span class="shift-right"><%= campground.createdAt.toLocaleDateString() %></span>
        </div>
        <!-- <a class="follow-button" href=""><span >Follow</span></a>   -->
        <hr>
        <div class="post-content">
             
            <p><%- campground.content %></p>
       
        </div>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 
            <div class="horizontal-align">
                <a  href="/blogs/<%= campground._id %>/edit"><img class="edit-button" src="https://res.cloudinary.com/sdevblog/image/upload/v1591640441/edit_1_mrlvht.png" alt="edit"></a>
                <form action="/blogs/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="remove-button-default" type="submit"><img class="delete-button" src="https://res.cloudinary.com/sdevblog/image/upload/v1591595182/ikb7v504gmceahxzg5rh.png" alt="delete"></button>
                </form>
            </div>
           
        <% } %>
        <hr>
        <div class="show-comments"> 
            Comments
        </div>
        
        <% campground.comments.forEach(function(comment){ %>
            <p class="comment-line"><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <div class="horizontal-align">
                <a href="/blogs/<%=campground._id %>/comments/<%=comment._id%>/edit"><img class="comment-edit-button" src="https://res.cloudinary.com/sdevblog/image/upload/v1591640441/edit_1_mrlvht.png" alt="edit"></a>
                <form action="/blogs/<%=campground._id %>/comments/<%=comment._id%>/<%= campground.slug %>?_method=DELETE" method="POST">
                    <button class="remove-button-default" type="submit"><img class="comment-delete-button" src="https://res.cloudinary.com/sdevblog/image/upload/v1591595182/ikb7v504gmceahxzg5rh.png" alt="delete"></button>
                </form>
            </div>
            <% } %>
        
        <% }); %>
        <p>
            <a class="comment-button" href="/blogs/<%= campground._id %>/comments/new">Add New Comment</a>
        </p>
    
    </section>
    </div>
</main>





<%- include('../partials/footer'); -%>


